
/* Kan index page */

.caption {
    color:white; 
    font-family:cursive; 
    font-size:60px; 
    position:absolute; 
    left:250px; 
    top:0px
 }
   
.border { 
border: 1px solid white;
border-radius: 5px;
margin-left: 7px;
}

.link {
color:white;
font-family:cursive;
font-weight:700;
font-size:18px;
text-decoration:none;
}

/* Treatments available page*/

.division {
    width:200px;
    height:350px;
    border: 1px solid rgb(190, 135, 15);
    display:inline-block;
    float: left;
    background-color: rgba(245, 245, 6, 0.938);
    margin-left:100px;
    margin-top:20px;
}

.textspan {
    color:rgb(2, 83, 2)
}


.footerimage1 {
    float:left;
}

.footerimage2 {
    float:right;
}

.footerimage3 {
    float:left;
    margin-top:20px;
    margin-left:20px;
    width: 800px;
    height: 200px;
}

/* products page */

  .medicines {
    width:400px;
    height:550px;
    border: 1px solid rgb(190, 135, 15);
    display:inline-block;
    float: left; 
    margin-top:20px;
    margin-left:40px
} 

.heading {
    color:darkred; 
    font-family:cursive; 
    font-size:60px; 
    text-align:center;
    background-color: rgb(50, 255, 50);
}

   .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 600px;
 }  

 .buy {
   position: relative;
   left:100px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
 }

 .total {
   position: relative;
   left:50px;
 }